#SkipToMainContent{
	// display: none;
	// border: 1px solid red;
}
#nav{
	position: absolute;
	display: flex;
	z-index: 100;
	justify-content: space-between;

}

.navbar{
	position:absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-top:20px;
	/*border: 5px solid purple;*/



}

.navbar-brand{
	padding-left:5rem;
	font-size:2em;
	font:"cochin";
	color:black;
	text-decoration:none;
	display: inline-flex;
}
ul{
	font:"cochin";
}


.navbar-nav{
	font:"cochin";
	display: inline-flex;
	padding-right:5rem;
}

.nav-item{
	list-style-type: none;
	padding-bottom:0;
	font-size:1.2em;
	font:"cochin";
}
li{
	padding-left:0.5rem;
	padding-right:0.5rem;
	font-family: "cochin";
	color:black;
	text-decoration: underline;
	display:inline;

}

.page-header{
	margin-top:0;
}




<!--right side bar-->
#fullPage-nav { 
	_display: none; 
	font-size: 12px;
}

#fullPage-nav li a { 
	float: right; 
	width: 21px; 
	height: 21px; 
	color: #8F9DA4; 
	text-decoration: none; 
	text-align: left; 
}
#fullPage-nav li .active { 
	background-position: 0 bottom;
}

.fullPage-tooltip { 
	float: left; 
	top: 0; 
	text-align: left;
	margin-right: 5px; 
	font: 15px "cochin"; 
	color: white; 
	line-height: 25px;
}

.section { 
	position: relative; 
	overflow: hidden; 
	z-index: -1;
}
.section .bg { 
	position: absolute; 
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%;
}
.section .bg img { 
	display: block; 
	width: 100%; 
	height: 100%;
}


.copyright { 
	position: absolute; 
	left: 0; 
	bottom: 20px; 
	width: 100%; 
	text-align: center; 
	font-size: 0;
	font:"cochin";
}
.copyright a, .copyright span { 
	margin: 0 7px; 
	font-size: 12px; 
	color: #fff;
}
.copyright-sub{
	text-align:center;
	color:grey;
	font:"cochin";
	font-size: 10px;
}

@media screen and (max-width: 600px) {

	.navbar-brand{
		border: 2px solid yellow;
	}

}

div#superContainer{
	z-index: 0;
}

.topimage{
	width:100%;
	background-size:cover;
}
.topimage img{
	padding-top:65px;
	width:100%;
}

/*Resume Page*/

.resume{
	/*border:3px solid grey;*/
	width:70%;
	margin:auto;
	font-family: "cochin";
	padding:20px;
}
li{
	text-decoration: none;
	font:"cochin";
	font-size:15px;
}
.resumetitle{
	text-align: center;
}

h3{
	text-decoration: underline;
	font-weight: bold;
}
h5{
	text-indent: 30px;
}

/*Biography Page*/

/*Art Page*/
.section1 img{
	padding-top:65px;
	width:100%;
}
.section-content{
	width: 75%;
	margin:auto;
	padding:30px;
	text-align:center;
}
.section2 img{
	padding-top:65px;
	width:100%;
}
.section3 img{
	padding-top:65px;
	width:100%;
}
.section4 img{
	padding-top:65px;
	width:100%;
}
