#SkipToMainContent{
	// display: none;
	// border: 1px solid red;
}
#nav{
	position: absolute;
	display: flex;
	z-index: 100;
	justify-content: space-between;

}

.navbar{
	position:absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;



}

.navbar-brand{
	padding-left:5rem;
	font:"cochin";
	font-size:2.5em;
	color:black;
	text-decoration:none;
	display: inline-flex;
}
ul{
	font:"cochin";
}


.navbar-nav{
	font:"cochin";
	display: inline-flex;
	padding-right:5rem;
}

.nav-item{
	list-style-type: none;
	padding-bottom:0;
	font-size:1.2em;
}
li{
	padding-left:0.5rem;
	padding-right:0.5rem;
	font-family: "cochin";
	color:black;
	text-decoration: underline;
	display:inline;

}

.page-header{
	margin-top:0;
}




<!--right side bar-->
#fullPage-nav { 
	_display: none; 
	font-size: 12px;
}

#fullPage-nav li a { 
	float: right; 
	width: 21px; 
	height: 21px; 
	color: #8F9DA4; 
	text-decoration: none; 
	text-align: left; 
}
#fullPage-nav li .active { 
	background-position: 0 bottom;
}

.fullPage-tooltip { 
	float: left; 
	top: 0; 
	text-align: left;
	margin-right: 5px; 
	font: 15px "cochin"; 
	color: white; 
	line-height: 25px;
}

.section { 
	position: relative; 
	overflow: hidden; 
	z-index: -1;
}
.section .bg { 
	position: absolute; 
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%;
}
.section .bg img { 
	display: block; 
	width: 100%; 
	height: 100%;
}


.copyright { 
	position: absolute; 
	left: 0; 
	bottom: 20px; 
	width: 100%; 
	text-align: center; 
	font-size: 0;
	font:"cochin";
}
.copyright a, .copyright span { 
	margin: 0 7px; 
	font-size: 12px; 
	color: #fff;}


@media screen and (max-width: 600px) {

	.navbar-brand{
		border: 2px solid yellow;
	}

}

div#superContainer{
	z-index: 0;
}


