{% extends "base.html" %}
{% block content %}
<div class="topimage">
  <img class="topimage" src="static/NewYorkGraf.jpeg" alt="/">
</div>
<div class="biotext">
  <h1>Something about me</h1>
  <p>
  A <strong> UX Designer </strong> passionated about human behaviors that why people do certain things, and what their past experiences have affected them. I love exploring the patterns of behaviors.
  </p>
  <p>
 A <strong>Chinese multidisciplinary conceptual artist </strong> in Art Metals, Installation, Photography and Performance Art, now live in Ann Arbor, MI. I am fascinated with the process of making art, and would like to depict scenes of what I see from my perspective, tell stories of my own. It is personal, but yet: I would love to invite the audiences into my thinking, to see the world from where I see it.

  </p>
</div>
{% endblock %}
