<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Biography_KL</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">

</head>

<body>
  <header class="navbar">

        <a class="navbar-brand hidden-sm-up" href="HomeSlide.html">Kehan Liao</a>
          <ul class="navbar-nav"> 
            <li class="nav-item" >
              <a class="nav-item-link" href="UX.html">
                UX
              </a>              
            </li>
            <li class="nav-item">
              <a class="nav-item-link" href="Art.html">
                ART
              </a>              
            </li>
      
            <li class="nav-item">
              <a class="nav-item-link" id="resume" href="Resume.html">
                RESUME
              </a>              
            </li>
            <li class="nav-item">
              <a class="nav-item-link" href="Biography.html">
                BIOGRAPHY
              </a>              
            </li>
          </ul>
 </header>

<div class="topimage">
  <img class="topimage" src="static/TheHole.jpeg" alt="TheHole">
</div>
<div class="resume">
  <div class="resumetitle">
    <h1>Kehan Liao</h1>
    <p>536 S Forest Ave, Ann Arbor MI 48104   ·   (608) 343-3434   ·   khliao@umich.edu</p>
  </div>
  <h3>EDUCATION</h3>
  <h4>University of Wisconsin-Madison   ·   Madison, WI</h4>
  <h5>Bachelor of Science, double major in Art and Economics  · Sep.2012 – May.2016<br/></h5>
  <ul>
  <li>
  Studied abroad at Santa Raparata International School of Art in Florence, Italy during summer 2014<br/>
  </li>
  <li>
  Elizabeth Sewell Scholarship in Art Metals and Laurie Regan Art Scholarship<br/>
  </li>
  </ul>
  <h4>University of Michigan  ·   Ann Arbor, MI</h4>
  <h5>Master of Science, Information—Human Computer Interaction  · Sep.2016 – Present</h5>
  <ul>
  <li>Relevant courses: Interaction Design, Fundamentals of Human Behavior, Contextual Inquiry.<br/>
  </li>
  </ul>
  <h3>PROJECTS</h3>
  <h4>Ongoing</h4>
  <ul>
  <li>
  <strong>2017CHI: Help Individuals with fatal allergy reactions re-establish social life  <br/></strong>
  Conducted contextual interviews and surveys with to better understand their needs<br/>
  Designed and tested the design idea of a build-in app in the chat messenger to alert and provide allergy information; and provide pre-written message option for easier send<br/>
  Created wireframes for the interface of the build-in app<br/>

</li>
  <li>
  <strong>Help Individuals with Depression socialize with others</strong><br/>
          Created low-fidelity and high fidelity prototypes on the wearable device based on user research used paper, Illustrator, sketch, and Principal.<br/>
          Conducted multiple rounds of usability tests and led to a more user friendly design.<br/>
</li>
<li>
  <strong>Contextual Inquiry: Solar Car Team for higher retention</strong><br/>
          Coordinate and conducted interviews with stakeholders from different functional areas to understand the core issue, and conducted observation sessions in their work place.<br/>
          Collaborated with team to research and write about background research of the client.<br/>
          Led Infinity wall and invite audiences to walk through the wall, and presented ideas.<br/>
</li>
  </ul>
  <h3>EXPERIENCE</h3>
  <h4>Madison Museum of Contemporary Art (MMoCA)   ·   Madison, WI</h4>
    <h5>Event Intern</h5>
    <ul>
      <li>
      Planning and executing Holiday Art Fair and Gallery Nights events at every level: brainstorming event details, approaching organizations for sponsorships and volunteer participation, creating marketing plans, promoting events to groups, coordinating with artists, guiding and training event volunteers<br/>
      </li>
      <li>
      Developing and branding new Emerging Artist section for Art Fair on the Square, to promote new artists and artists employing new mediums of expression; researched similar efforts and designed guidelines for emerging artist qualifications and applications, as only intern on committee of four leading the effort<br/>
      </li>
    </ul>

  <h4>Danette Koke Fine Art   ·   New York, NY</h4>
  <h5>Art Consultant Intern Jun.2015 – Aug.2015</h5>
  <ul>
  <li>Interviewed artist Elizabeth Gregory-Gruen for company newsletter, to promote sales of her art and to encourage other artists to sell their work through this art consultancy<br/></li>
  <li>Researched, prepared, and presented portfolios of artwork created by our associated artists for new clients to consider for purchase; effort led to biggest purchases of the year for the consultancy<br/></li>
  <li>Coordinated and facilitated meetings with outside companies, generated quotes, and prepared invoices<br/></li>
  </ul>
  <h4>Arts for Art, Inc.: InnerCity Project (ICP)   ·   New York, NY</h4>
  <h5>Event Intern  Jun.2015 – Aug.2015</h5>
  <ul>
  <li>Assisted in production of Light Rain, a multimedia art installation at Judson Church: critiqued dance performance poses, designed visual layout of gallery space, assisted in setup of the space<br/></li>
<li>Created designs as well as videos and other promotional materials for 20th annual Vision Festival<br/></li>
  </ul>

  <h3>Skills</h3>
  <h4>UX Skills: </h4>
  <p>Contextual inquiry, usability test, interview, focus group, graphic design, website design, survey design, prototype, quantitative analysis, wireframe.</p>
  <h4>Software Skills:</h4>
  <p>Photoshop, Illustrator, Sketchup, Sketch, Principal, iMovie. </p>
  <h4>Programming Skills:</h4>
  <p>Python, HTML, CSS, JavaScript.</p>





</div>

  <footer>
  <p class="copyright-sub">
    <a>All information &copy;Copyright Kehan Liao.</a>
    <span>|</span>
    <span>email adress: khliao@umich.edu</span>
  </p>
  </footer>
</body>


</html>